@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;700&display=swap');

:root {
  --gray-scale1: #999999;
  --gray-scale2:#777777;
  --gray-scale3: #555555;
  --gray-scale4: #333333;
  --gray-scale5: #111111;
  --text-white: #fff;
}

body {

  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global Styles */

.flex {
  display: flex;
}
/* Header */
.header {
  height: 90px;
  background-color: black;

}
.nav {
  width: 100%;
  height: 90px;
  align-items: center;
}

.logo {
  width: 25%;
}

.logo img {
  margin-top: 40px;
  max-width: 100%;
  line-height: 90px;
  height: 90px;
}
.nav-links {
  width: 100%;
  list-style: none;
  justify-content: space-around;

}

/* Latest Articles Section */

.arrow-forward {
  color: #fff;
  margin-top: 70px;
}

.latest-articles {
  display: grid;
  grid: 'article article'
        'article article';
  position: relative;
  width: 100%;
}

.sticky-note {
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 30vw;
  margin-left: 35vw;
}

.sticky-note strong {
  background-color: #fff;
  padding: 10px;
  line-height: 60px;
}

.latest-article {
  min-height: 58vh;
  padding: 50px;
  color: #fff;
  width: 100%;
}

.latest-article h1 {
  width: 90%;
  margin-top: 30px;
}

.latest-article .tags {
  margin-top: 40px;
}

.latest-article .tag {
  padding-left: 30px;
}

.latest-article .tag:first-child {
  padding-left: 0;
}

.article1 {
  background-color: rgba(128,128,128,1.0);
}

.article2 {
  background-color: rgba(128,128,128,0.9);
}

.article3 {
  background-color: rgba(128,128,128,0.8);
}

.article4 {
  background-color: rgba(128,128,128,0.7);
}

.article1, .article2 {
  padding-top: 200px;
}

.article3, .article4 {
  padding-top: 80px;
}

.latest-article h1 {
  font-size: 42px;
}

.latest-article h1 span {
  font-size: 16px;
  position: relative;
  top: -10px;
}

.author {
  display: flex;
  align-items: center;
}

.author span {
  padding-left: 20px;
  font-size: 21px;
}

.author img {
  transform: rotate(-15deg);
  width: 70px;
  height: 70px;
  border: solid thick #fff;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s;
  filter: grayscale();
}

.author img:hover {
  transform: rotate(0deg);
}

.nav-links a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-white);
  padding: .8rem;
  border-radius: 13px;
}
.nav-links {
  text-decoration: none;
  font-size: 1.4rem;
  padding: .8rem;
  border-radius: 13px;
}
.menu-link {
  background-color: var(--gray-scale5)
}
.nav-links a:hover {
  background-color: rgb(212, 208, 208);
}
.search-input {
  width: 25%;
  flex-direction: column;
  justify-content: center;

}
.search-input input {
  margin-right: 2.5rem;
  height: 3rem;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  border-radius: 9px;
  border: 1px solid var(--gray-scale1);
}

.search-input input:focus{
  outline: none;
}

.search-icon {
  position: absolute;
  right: 22.3%;

}

/* latest-posts Gilbert */

.latest-posts {
  display: grid;
  grid-template-columns: min-content repeat(4, 1fr);
  background-color: rgb(231, 231, 231);
}
.post {
  position: relative;
  height: 100vh;
  padding: 2rem 3rem;
  transition: all .2s;
  line-height: 34px;
  font-size: 20px;
  width: 100%;
}
.post h2 {
  font-size: 28px;
  font-weight: 600;
}
.days {
  font-weight: 200;
  font-size: 14px;
}
.ninety-deg {
  writing-mode: vertical-rl;
  margin-top: 3rem;
}

.hover:hover {
  box-shadow: -1px 6px 24px -1px rgba(0,0,0,0.75);
  width: 100%;
  background-color: var(--text-white);
  z-index: 1;

}

.arrow {
  display: inline-block;
  font-size: 40px;
  position: absolute;
  bottom: 25px;
  padding: 2rem;
}
.arrow:hover {
  background-color: var(--gray-scale3);
  color: var(--text-white);
}
.written-by {
  font-weight: 500;
}
.written-by a{
  text-decoration: underline;
}

/* ad-section  Gilbert */

.ad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.advert {
  background-color: var(--gray-scale3);
  width: 70%;
  flex-direction: column;
  align-items: center;
  grid-column: 3/5;
  padding: 3rem;
  margin: 4rem 2rem 4rem 6rem;
  height: 80vh;
  border-radius: 15px;
}

.advert p {
  font-size: 20px;
  line-height: 24px;
  color: var(--text-white);
}

.new-link {
  font-size: 46px;
  font-weight: 600;
  text-decoration: underline;
  color: var(--text-white)
}

/* Guides Section Gilbert */

.guides {
  display: grid;
  grid-template-columns: min-content repeat(3, 1fr);
  font-size: 21px;
  line-height: 34px;
  background-color: var(--gray-scale4);
}

.guide-card {
  height: 100vh;
  margin: 2rem;
  background-color: var(--gray-scale1);
  padding: 2rem;
  border-radius: 10px;
}

.guide-card h2 {
  margin-top: 0;
  line-height: 56px;
  font-size: 46px;
  font-weight: 600;
  color:var(--gray-scale5)
}

.guide-card a {
  display: inline-block;
  width: 85%;
  background-color: var(--text-white);
  color: var(--gray-scale4);
  padding: 1rem ;
  border-radius: 5px;
  text-align: center;
}

.guide-card a:hover {
  color: white;
  background-color: var(--gray-scale4);
}
